

<mat-toolbar *ngIf="successMsg" color="success">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>



<div class="row">
    <div class="col s5">
        <div class="form-container">
            <form (submit)="registerProduto()">
                <mat-form-field>
                    <input [(ngModel)]="nome" name="nome" matInput placeholder="Nome do Produto" >
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="categoria" name="categoria" matInput placeholder="Categoria">
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="qtd" name="qtd" matInput placeholder="Quantidade">
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="preco" name="preco" matInput placeholder="Preço">
                </mat-form-field>
                
                <button type="submit" mat-raised-button color="primary">Registrar Produto</button>
                <br/>
                <a href="http://localhost:4200/produto-list" class="btn" mat-raised-button color='default'>Lista de Produtos</a>
            </form>
        </div>
    </div>
    <div class="col s7 bg">

    </div>
  </div>
